<html>
  <head>
    <meta charset="utf-8">
    <title>Progate</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <header>
  <div class="container">
    <div class="header-left">
      <img class="logo" src="https://i.pinimg.com/564x/4f/60/30/4f60305f48b01e05db6b53083abf71dd.jpg">
         <b><a href="file:///C:/Users/User/Desktop/skypramarcy/index.html">SKY PHRAMRTCY GROUP</a></b>
         <b><a href="file:///C:/Users/User/Desktop/skypramarcy/dog1/index.html">犬用</a></b>
         <b><a href="file:///C:/Users/User/Desktop/skypramarcy/cat/index.html">猫用</a></b>
         <b><a href="file:///C:/Users/User/Desktop/skypramarcy/bird/index.html">鳥用</a></b>
         <b><a href="file:///C:/Users/User/Desktop/skypramarcy/livestock/index.html">馬、牛、豚など家畜用</a></b>
     </div>
   </div>
 </header>

 <div class="product-wrapper">
   <h1>オキシマブB</h1>


   <div class="product">
    <div class="product-icon">
      <img src="https://www.skyexitservice.com/image/cache/catalog/OXYMAV_B_POWDER-470x470-228x228.jpg">
      <p>100gm：5,600円</p>     
        
    </div>
   </div>

    
  </div>



<div class="detail">
  <p><b>*表記価格は送料込み価格です。</b>
  <br>
  <br>
  <b>（商品説明）</b><br>
  有効成分：オキシテトラサイクリン塩酸塩10g/Kg。<br>
  鳥かごで飼育されている鳥類の呼吸器疾患および一般的な細菌感染症による疾患の状態を治療するため広範囲に使用されているの抗生物質粉末。<br>
  広範囲のグラム陽性およびグラム陰性細菌、特定のリケッチア、クラミジア、放線菌、マイコプラズマ、原虫、およびいくつかの広範な大きなウイルスに対して有効な抗生物質。<br>
  バクテリアのリボソームのタンパク質を阻害することにより生体に有効に作用します。<br>
  オキシテトラサイクリンは、体内のほとんどの生物学的障壁を通過し、効果を発揮します。<br>
  適応症：観賞用ケージ鳥の最近、ウィルス、感受性生物による病気。<br><br>
 
<b>（使用法）</b><br>
CRDおよび細菌性腸炎は、50mLの水に5g（1つの丸い尺度）を溶解し、飲料水として投与。<br>
水は毎日、取り替えて３～５日間与えて下さい。<br>
薬剤が溶解された50ml溶液は大きな鳥２羽（オウム）、小さな鳥（カナリア、フィンチ、セキセイインコ）１０羽に対して適量です。<br>
＜使用上の注意＞<br>
皮膚や目との接触を避け、ほこりの吸入を避けてください。<br><br>


<b>（使用期限）</b><br>
ご注文日より１年以上有効のもの

  <br><br>
  <b>*パッケージは発送国や時期により変わることもございます。</b>

</div>




<div class="message-wrapper">
  <div class="container">
      <h4><font color="#ff0000">ご注文先・お問い合わせ</font>：skydrugagent@gmail.com,&emsp;skyexitservice@gmail.com</h4>
      <p>ご注文の際は、商品名・数量・発送先住所を明記の上、メールでご連絡下さい。</p>
      <p>原則２４時間以内に、取引詳細を記載した注文確認メールを送信致します。</p>
  </div>
</div>

<footer>
      <div class="container">
        <img src="https://i.pinimg.com/564x/4f/60/30/4f60305f48b01e05db6b53083abf71dd.jpg">
        <p>SKY  PHARMRCY  GROUP</p>
      </div>
    </footer>









</html>
